# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 73
b = 73
print(a == b)
print(id(a)==id(b))
print(id(a))
print(id(b))

True
True
132569694915056
132569694915056

Змінні не тільки рівні за значенням, а ще й посилаються на один і той самий об'єкт. Бо мають однаковий id.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [5]:
isinstance(True, bool)
isinstance(True, int)

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [10]:
c = 45
d = 3.7
print(c+d)
print(c-d)
print(c/d)
print(c*d)
print(c//d)
print(c%d)
print(c**d)

48.7
41.3
12.162162162162161
166.5
12.0
0.5999999999999979
1308839.2218155288

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [32]:
int(d)
my_bool = True
int(my_bool)

1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [13]:
""
str()

''

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [14]:
print('\'')
print(r'\'')

'
\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [17]:
surname = "Dohaieva"
f"My surname is {surname}"

'My surname is Dohaieva'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [19]:
sentence = "My dog is crazy."
sentence[:-1].lower().split()

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [27]:
first_list = [1, 45, 77, 34, 0, 5]
second_list = list("butterfly")
len(second_list)

9

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [29]:
third_list = [4, 7, 13, 99]
fourth_list = [0, 2]
third_list.append(fourth_list)
third_list

[4, 7, 13, 99, [0, 2]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [30]:
fifth_list = [[5, 6], [6], [8, 3, 1]]
print(fifth_list[-1][0])

8

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [35]:
sixth_list = [0, 0.0, False, "", [], 1, 1.0, True, "1", [1]]
seventh_list = sixth_list[2:-2]

[False, '', [], 1, 1.0, True]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
first_tuple = (6)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список є змінним, а кортеж - ні. В кортежі не можна додавати, змінювати, видаляти елементи після його створення. І список і кортеж є послідовностями, тобто порядок має значення. Кортеж використовується, коли нам треба зберігати сталий набір елементів, наприклад для порівняння сторонніх з ним. Список для набору елементів, який можливо буде змінюватись й поповнюватись.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [40]:
second_tuple = (2.3, 5.4, 67.3, 8.0, 23.1, 6.8, 34.1, 7.2, 4.3, 0.5, 6.5)
third_tuple = second_tuple[::-2]
print(third_tuple)

(6.5, 4.3, 34.1, 23.1, 67.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [44]:
first_set = set()
first_set.add(4)
first_set.add(79)
first_set.add(16)

{4, 16, 79}

Так, множини є змінним типом даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [45]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set(my_list)

{1, 2, 8, 9, 67}

Деякі елементи зникли, тому що в множинах елементи не можуть повторюватись. А в початковому списку було декілька однакових елементів.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [50]:
second_set = {21, 6, 78, 343, 98, 4}
third_set = {78, 4, 5, 11, 0, 21, 77}
print(second_set.union(third_set))
print(second_set.difference(third_set))
print(second_set.intersection(third_set))
print(second_set.symmetric_difference(third_set))

{0, 98, 4, 5, 6, 11, 77, 78, 21, 343}
{98, 6, 343}
{4, 21, 78}
{0, 5, 6, 11, 77, 343, 98}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [51]:
first_dict = dict()
first_dict["key1"] = False
first_dict[2] = "23"
first_dict[3.0] = 95
first_dict[True] = 4.6

{'key1': False, 2: '23', 3.0: 95, True: 4.6}

Список не може бути ключем. Тому що ключі словника не можуть бути змінного типу даних.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [53]:
second_dict = {"d":{"1":1, "2":2, "3":{"t":"i", "o":"n"}}, "n":14, "f":9.1}
print(second_dict["d"]["3"])

{'t': 'i', 'o': 'n'}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.